<div class="cbp-af-header">
	<div class="cbp-af-inner">
		<a href="/"><img src="img/logo.svg" class="flex-logo" alt="Avestia Publishing"></a>

		<div class="nav1">
			<nav>
				<a href="/">Home</a>
				<a href="http://amss.avestia.com/">Submission</a>
				<a href="journals">Journals</a>
				<a href="ethics">Ethics in Publishing</a>
				<a href="guidelines">Author Guidelines</a>
			</nav>
		</div>

		<div class="search-menu">
			<div class="menu-trigger-1"><p class="menu">MENU</p></div><br>
			<gcse:searchbox-only resultsUrl="results"></gcse:searchbox-only>
		</div>

		<div class="nav2">
			<nav>
				<a href="/">Home</a>
				<a href="http://amss.avestia.com/">Submission</a>
				<a href="journals">Journals</a>
				<a href="ethics">Ethics in Publishing</a>
				<a href="guidelines">Author Guidelines</a>
			</nav>
		</div>
	</div>
</div>