<div class="mobile">
<div class="j-header">
  <div class="name">
    <h1>International Journal of Virtual Worlds and Human Computer Interaction (VWHCI)<br><p class="body">ISSN: 2368-6103</p></h1>
    <div class="oalink">
    <a href="http://avestia.com/openaccess" target="blank" title="Avestia's Open Access">
          <img src="../img/j-oa.png" border="0" onmouseover="this.src='../img/j-oa-hover.png'" onmouseout="this.src='../img/j-oa.png'" class="j-oa">
    </a>
  </div>
  </div>

    <img src="../img/journals/j-vwhci.jpg" class="j-img">
</div>
</div>

<div class="desktop jhead">
  <div class="name">
    <h1>International Journal of Virtual Worlds and Human Computer Interaction (VWHCI)</h1>
    <div class="issn">
    <p class="body">ISSN: 2368-6103</p>
    <div class="oalink">
    <a href="http://avestia.com/openaccess" target="blank" title="Avestia's Open Access">
          <img src="../img/j-oa.png" border="0" onmouseover="this.src='../img/j-oa-hover.png'" onmouseout="this.src='../img/j-oa.png'" class="j-oa">
    </a>
   </div>
   </div>
  </div>

  <div class="j-header">
  </div>
</div>