-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?uz62ew');
  src:url('../fonts/icomoon.eot?#iefixuz62ew') format('embedded-opentype'),
    url('../fonts/icomoon.woff?uz62ew') format('woff'),
    url('../fonts/icomoon.ttf?uz62ew') format('truetype'),
    url('../fonts/icomoon.svg?uz62ew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
}

html {
  font: normal 100%/1.4 'Merriweather', sans-serif;
  background-color: #FFF;
  overflow-x: hidden!important;
  background-color: #47A4AD;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden/9;
}

.flex-logo {
  width: 100%;
  vertical-align: text-bottom;
  max-width: 210px;
  padding: 1em;
  float: left;
}

@-moz-document url-prefix() {
  .flex-logo {
    width: 70%;
  }
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

/* BASE STYLES */
.flex-img {
  display: block;
  width: 100%;
}

.article-img {
  display: block;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

.left-img {
    display: block;
    width: 30%;
    float: left;
    padding-right: 1em;
}

h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.5em 0.5em 1em;
    font-size: 1.25em!important;
  margin: 0!important;
  color: #47A4AD;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0;
  color: #47A4AD;
  line-height: initial;
  padding-bottom: 1em;
}

h3 {
font-family: 'Lato', sans-serif;
font-size: 1.5em;
margin: 0;
color: #47A4AD;
}

.body {
font-family: 'Merriweather', serif;
font-weight: 300;
font-size: 1em;
margin: 0;
padding-bottom: 1em;
text-align: justify;
}

.body:last-child {
padding-bottom: 0;
}

.body-1 {
font-family: 'Merriweather', serif;
font-weight: 300;
font-size: 1em;
margin: 0;
padding-bottom: 0em;
text-align: justify;
}

.bold {
font-family: 'Merriweather', serif;
font-weight: 600;
font-size: 1em;
margin: 0;
}

.body-link,
.ref a {
color: #47A4AD;
text-decoration: none;
transition: all 0.8s linear;
}

.body-link:hover,
.ref a:hover {
color: #F48120;
}

.more {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #F48120;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: normal;
  transition: all 0.8s linear;
}

.more:hover {
  font-weight: 600;
    border-bottom: 2px solid;
}

p {
  margin: 0;
}

ul {
    margin: 0;
    padding: 0 0 1em 3em;
}

ul li,
ol li {
    font-weight: 100;
    text-indent: 0;
}

.content {
    padding: 1em 0;
}

.subhead {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding: 0 0em 1em;
  font-size: 0.8em;
  margin: 0;
  color: #47A4AD;
}

.news-title {
  font-size: 1.2em;
  color: #F48120;
  text-decoration: none;
  transition: all 0.8s linear;
}

.news-title:hover {
  color: #47A4AD;
}

.main-content {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.php {
  padding: 11em 0px!important;
}

/* HEADER & NAVIGATION */
.bg {
  background-color: #47A4AD;
  text-align: center;
  padding: 124px 0 14px;
}

.bg-link {
  border: 1px solid #F48120;
  padding: 0.5em;
  color: #F48120;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1em;
  display: block;
  margin: 1em;
  transition: all 0.8s ease;
}

.bg-link:hover {
  background-color: #47A4AD;
  border: 1px solid #47A4AD;
  color: #FFF;
}

/* MOB MENU */
#slide-menu h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  padding: 0.5em 0.8em;
  font-size: 1.5em!important;
  margin: 0!important;
  color: #FFF;
}

nav#slide-menu {
  position: static;
  top: 0;
  right: -141px;
  bottom: 0;
  display: block;
  float: right;
  width: 100%;
  max-width: 141px;
  height: 100%;
    background-color: #47A4AD;
  overflow-x: hidden;
overflow-y: hidden;
  z-index: 99999;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
  #slide-menu ul {
    display: block;
    margin: 0px;
    padding: 0;
    list-style: none;
    opacity: 0.5;

    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
    #slide-menu li {
      cursor: pointer;
      padding-bottom: 0;
}

  #slide-menu a {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    text-align: left;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1.2em;
    cursor: default;
    text-decoration: none;
    font-size: 0.7em;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }

#slide-menu a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
    cursor: pointer;
}

#slide-menu:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 0px rgba(0,0,0,0.2);
}

body.menu-active nav#slide-menu { right: 0px; }
body.menu-active nav#slide-menu ul { right: 0px; opacity: 1; }

/*
  Content
*/
div#content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

  div.menu-trigger {
    position: absolute;
top: 35px;
right: 20px;
cursor: pointer;
font-size: 40px;
line-height: 0;
-moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
}
    .menu-trigger:before { 
      content: '\e603';
      display: inline-block;
      width: 43px;
      height: 36px;
      color: #47A4AD;
      font-family: "icomoon";
      font-style: normal;
      font-size: 1.2em;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
      line-height: 36px;
      -moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
    }

    .menu-active .menu-trigger:before { 
      display: none;
    }

    .menu-trigger:hover:before { 
      color: #F48120;
    }

    .menu-active .menu-trigger:after { 
      content: '\e600';
      display: inline-block;
      width: 36px;
      height: 36px;
      color: #47A4AD;
      font-family: "icomoon";
      font-style: normal;
      font-size: 1.2em;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
      line-height: 36px;
      -moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
    }

    .menu-trigger:hover:after {
      color: #47A4AD;
    }

.menu-active .menu-trigger {
    background-color: #FFF;
}

/* DESKTOP MENU */
.nav2 {
  display: block;
  text-align: center;
}

.nav1 {
  display: none;
}

    div.menu-trigger-1 {
position: inherit;
    right: 0px;
    cursor: pointer;
    font-size: 40px;
    line-height: 0;
    padding: 0;
    display: inline-block;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    text-align: right;
}

.menu-trigger-1 .menu {
    margin: 0;
    font-size: 20px;
    padding: 18px 0.5em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #47A4AD;
    display: inline-block;
    vertical-align: middle;
}
    .menu-trigger-1:before { 
      content: '\e603';
      display: inline-block;
      width: 43px;
      height: 36px;
      color: #47A4AD;
      font-family: "icomoon";
      font-style: normal;
      font-size: 1.2em;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
      line-height: 36px;
      -moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
    }

    .menu-active .menu-trigger-1:before { 
      display: none;
    }

    .menu-trigger-1:hover:before { 
      color: #F48120;
    }

    .menu-active .menu-trigger-1:before { 
      content: '\e600';
      display: inline-block;
      width: 36px;
      height: 36px;
      color: #47A4AD;
      font-family: "icomoon";
      font-style: normal;
      font-size: 1.2em;
      font-weight: normal;
      font-variant: normal;
      text-align: center;
      text-transform: none;
      line-height: 36px;
      -moz-transition: all 300ms;
-webkit-transition: all 300ms;
transition: all 300ms;
    }

    .menu-trigger-1:hover:before {
      color: #F48120;
    }

body.menu-active div#content { right: 141px;}
body.menu-active div#content .menu-trigger-1 { right: 150px; }

.menu {
    margin: 0;
    float: right;
    font-size: 20px;
    padding: 18px 0.5em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #47A4AD;
}

.search-menu {
  text-align: right;
  display: inline-block;
  padding: 12px 10px 12px 0;
  width: 100%;
}

/* SEARCH BAR */
div#___gcse_0 {
    width: 280px;
    display: block;
    float: right;
  }

div#___gcse_1 {
    width: 70%;
    margin: 0px auto;
}

form.gsc-search-box {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding-top: 0px;
}

table.gsc-search-box td.gsc-input {
     padding-right: 0px!important; 
}

input#gsc-i-id1,
input#gsc-i-id2 {
    background: url()!important;
}

input.gsc-input {
    border-color: #FFF!important;
    font-size: 13px;
    padding: 1px 6px;
}

input.gsc-input {
    padding: 1px 6px;
    border: 1px solid #FFF!important;
    width: 100%!important;
}

.cse input.gsc-search-button, input.gsc-search-button {
    font-family: 'Lato', sans-serif!important;
    -webkit-border-radius: 0!important;
    text-transform: uppercase!important;
    background-color: #F48120!important;
    border: 0!important;
    padding: 2px 5px!important;
    color: #FFF!important;
    font-weight: normal!important;
    font-size: inherit!important;
    border-radius: 0;
}

@-moz-document url-prefix() {
.cse input.gsc-search-button, input.gsc-search-button {
    padding: 3px 5px !important;
    border-radius: 0!important;
    height: 22px!important;
  }
}

td.gsc-clear-button {
    width: 14px;
    display: none;
}

/* RESULTS */
.results {
padding: 1em;
}

.results #___gcse_0 {
background: transparent;
padding: 0;
}

.gsc-orderby-container {
display: none;
}

table.gsc-branding, table.gcsc-branding {
display: none;
}

.gsc-above-wrapper-area {
    border: none;
    padding: 0;
}

.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #F48120!important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: #F48120!important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FFF;
    background-color: #FFFFFF!important;
    color: #F48120!important;
}

/* LASTEST NEWS */
.flex-caption {
    margin: 0 0 0 50px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.65);
    color: #FFF;
    width: 110px;
    font-weight: 100;
    transition: all 0.8s ease;
    height: 100%;
}

.flex-caption h3 {
    font-size: 0.8em;
    color: #FFF;
    padding: 0.5em 10px 0;
}

.flex-caption .body-link {
    font-size: 0.8em;
    color: #F48120;
    border-bottom: 1px solid;
}

.flex-caption .body-link:hover {
    font-weight: 600;
    border-bottom: 2px solid;
}

.flex-caption .body {
    font-size: 0.8em;
    padding: 0 10px;
}

/* JOURNALS */
.journals h2 {
    text-align: left;
}

.journals h2:before {
    content: '';
    background: url(../img/journals.png) no-repeat;
    width: 50px;
    height: 58px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.journals {
  padding: 1em;
  text-align: center;
}

.journals div {
    margin: 0 0px;
    padding-bottom: 1em;
}

.journals .body-1 {
  text-align: right;
}

.j-pg h2 {
  display: inline-block;
  width: 30%
}

.oa {
  display: inline-block;
  vertical-align: top;
  width: 69%;
}

.oa-img {
  display: block;
  width: 162px;
  float: right;
}

/* Recent Publications */
.recent h2 {
    text-align: left;
}

.recent h2:before {
    content: '';
    background: url(../img/articles.png) no-repeat;
    width: 50px;
    height: 58px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.recent {
  background-color: #c8e1e5;
  padding: 1em;
  text-align: justify;
}

.recent .body-link:hover {
  color: #F48120;
  display: block;
}

.recent .body-1 {
  text-align: right;

}

/* ETHICS & PUBLISHING */
.ethics h2,
.guidelines {
    text-align: left;
}

.ethics h2:before {
    content: '';
    background: url(../img/ethics.png) no-repeat;
    width: 50px;
    height: 58px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.guidelines h2:before {
    content: '';
    background: url(../img/guidelines.png) no-repeat;
    width: 50px;
    height: 58px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 0.5em;
}

.ethics-guidelines {
  padding: 1em;
}

.ethics-guidelines .body-1 {
  text-align: right;

}

.ethics-guidelines .body-2 {
  float: right;
}

/* RECENTS */
.recent-pg {
  background-color: #FFF;
  padding: 1em!important;
}

.jrecent {
    padding-left: 0;
    border-bottom: 1px solid #47A4AD;
    margin-bottom: 1em;
}

.jrecent:last-child {
  margin-bottom: 0;
}

.jrecent .body {
    padding: 0;
}

.jrecent .body-link:hover {
    border-bottom: none;
    color: #F48120;
    padding: 0;
}

.jname {
    float: left;
    background-color: #47A4AD;
    color: #FFF;
    padding: 0.8em;
    width: 100%;
}

.jname .body {
    font-family: 'Lato', sans-serif;
}

.jcontent {
    padding-left: 0em;
    padding-top: 4em;
}

/* Journal Home Pg */
.j-home {
  padding: 1em;
}
.j-header {
    background-color: #F48120;
    text-align: center;
}
.j-header h1 {
    color: #fecca9;
    font-weight: 600;
    text-transform: inherit;
    font-size: 1.1em!important;
    padding: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
}

.j-oa {
  display: block;
  width: 50%;
  padding-top: 1em;
  max-width: 180px;
  margin: 0 auto;
}

.name {
    width: 100%;
    float: left;
    padding: 1em;
}

.name .body {
    color: #fecca9;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0;
    font-size: 0.8em;
}

.j-img {
    display: block;
    width: 100%;
}

@-moz-document url-prefix() {
  .j-img {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }
}

.j-header-article {
    background-color: #F48120;
    text-align: center;
}
.j-header-article h1 {
    color: #fecca9;
    font-weight: 600;
    text-transform: inherit;
    font-size: 1.1em!important;
    padding: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
}

.j-header-article .j-oa {
  display: block;
  width: 50%;
  padding-top: 1em;
  max-width: 180px;
  margin: 0 auto;
}

.j-header-article .name {
    width: 100%;
    padding: 1em;
    float: none;
    min-height: auto;
}

.j-header-article .name .body {
        color: #fecca9;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0;
    font-size: 0.8em;
}

.r-news {
    padding-bottom: 1em;
}

.r-news:last-child {
padding-bottom: 0;
}

.number {
    background-color: #47A4AD;
    display: inline-block;
    float: left;
    padding: 0.5em 1em;
    margin-right: 1em;
    color: #FFF;
}

.number .body {
    font-weight: 500;
}

.r-text {
    padding-left: 4em;
}

.index {
    background-color: #c8e1e5;
    padding: 1em;
}

.eic {
  border-bottom: 2px solid #F48120;
  border-top: 2px solid #F48120;
  padding: 1em;
  margin: 1em 0;
}

.eic .body {
  vertical-align: middle;
  padding-bottom: 0;
  width: 100%;
  display: inline-block;
}

.eic .body-link {
  vertical-align: middle;
  width: 100%;
  display: inline-block;
  text-align: left;
}

.eic2 {
  border-top: none;
  padding: 0 0 1em;
  margin: 0 0 1em;
}

.eic2 .body-link {
  width: 90%!important;
  text-align: center!important;
}

.eic2 .body {
  width: 100%!important;
}

.board .body {
  text-align: center;
}

.board-img {
    display: block;
    width: 60%;
    margin: 0 auto;
    max-width: 120px;
}

.j-link {
    display: block;
    background-color: #47A4AD;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 0.6em;
    transition: all 0.8s ease;
}

.j-link:hover {
  background-color: #F48120;
}

.j-icon:before {
    background: url(../img/articles.png) no-repeat;
    width: 50px;
    height: 58px;
    display: inline-block;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 0.5em;
    content: "";
}

.m-recent h2 {
  padding-bottom: 0.5em;
}

.topics {
    -moz-column-count: 1;
    -moz-column-gap: 20px;
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    column-count: 1;
    column-gap: 20px;
}

.a-link {
  text-align: left;
  padding-bottom: 1em;
}

.article, .center {
  text-align: center;
}

.indent {
  text-indent: 2em;
}

.border {
    border-bottom: 2px solid #F48120;
    margin-bottom: 1em;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    margin: 0;
    color: #47A4AD;
    text-indent: 0;
}

figure {
    margin: 0;
    text-align: center;
    font-weight: 100;
    font-size: 0.9em;
    padding-bottom: 1em;
    text-indent: 0;
}

.equation {
    text-indent: 0;
}

.eqn {
    display: inline-block;
}

.eqn-number {
    float: right;
    display: inline-block;
}

.eqn-img {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.img .eqn-number {
     float: none!important; 
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.indent .subhead {
    text-transform: inherit;
    font-size: 1.1em;
    text-indent: 0;
    color: #000;
}

.widetable table {
    width: 80%;
    text-align: center;
    border: 1px solid;
}

.widetable .body {
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 0em;
    text-indent: 0;
}

.widetable tbody,
.widetable thead {
    text-indent: 0;
}

.widetable thead {
    background-color: #ccc;
}

.widetable td {
    border: 1px solid;
    padding: 5px;
}

.widetable {
    padding-bottom: 1em;
    overflow: auto;
}
.ref {
  text-indent: 0;
}
center .body {
  text-align: center;
  text-indent: 0;
  padding-bottom: 0;
}
/* Journal Nav */
.navbar.navbar-default {
    background-color: #FFF;
}
.navbar-toggle {
        background-color: transparent;
    border: none;
    padding: 0 0.8em;
    color: #F48120;
    font-size: 0.9em;
    transition: all 0.8s ease;
}
.navbar-toggle:hover {
  color: #47A4AD;
}
.navbar a {
    text-decoration: none;
    color: #F48120;
    font-weight: 400;
    padding: 0 0.8em;
    font-size: 0.9em;
    transition: all 0.8s ease;
}
.navbar a:hover {
  color: #47A4AD;
}
.navbar-nav a {
    color: #FFF;
}
.navbar-nav a:hover {
    color: #fecca9;
}
.navbar-collapse {
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  transition: height .35s ease;

}
.nav {
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.nav > li {
    /* position: relative; */
    /* display: block; */
    display: inline-block;
}
.navbar ul {
      padding: 1em;
    list-style-type: none;
    text-align: center;
    border-bottom: 2px solid #F48120;
}
.navbar li {
    display: inline-block;
}
.navbar-nav {
    background-color: #F48120;
}

.subscribe {
    padding-bottom: 1em;
}

.subscribe #email {
    float: left;
    width: 53%;
    display: block;
    margin-right: 1em;
    border: #47A4AD 1px solid;
    background-color: transparent;
    color: #47A4AD;
    padding: 3.5px 0.5em;
    font-size: 0.7em;
}

.subscribe .form_button {
    background-color: #F48120;
    border: 0;
    color: #FFF;
    padding: 2px 7px;
    transition: all 0.8s ease;
}

.subscribe .form_button:hover {
    background-color: #47A4AD;
}

/* FORM */
.form span {
  display: block;
}

.form input, .form select {
    width: 100%;
}

.form .form_button {
    display: inline-block;
    width: 20%!important;
    border: 0;
    padding: 0.5em;
    background-color: #47A4AD;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: all 0.8s ease;
}

.form .form_button:hover {
    background-color: #F48120;
}

.form .body {
  padding-bottom: 0;
}

.contactform span {
  display: block;
}

.contactform input, .contactform select, .contactform textarea {
    width: 100%!important;
}

.contactform .form_button {
    display: inline-block;
    width: 30%!important;
    border: 0;
    padding: 0.5em;
    background-color: #47A4AD;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    transition: all 0.8s ease;
}

.contactform .form_button:hover {
    background-color: #F48120;
}

.contactform .body {
  padding-bottom: 0;
}

/* FOOTER */
footer {
  background-color: #c8e1e5;
  color: #47A4AD;
  padding: 1em;
}

footer .grid {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: transparent;
}

.footer-links {
    margin: 0;
    padding: 0;
}

.footer-links li {
    list-style-type: none;
}

.footer-links a {
  color: #47A4AD;
  text-decoration: none;
  transition: all 0.8s ease;
}

.footer-links a:hover {
  color: #F48120;
}

.social .body {
  padding-top: 1em;
  text-align: left;
}

.copyright {
  text-align: center;
  padding: 0.5em;
  background-color: #47A4AD;
}

.copyright .body {
  font-size: 0.6em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF;
}

/* IE */
.ie9 .flex-logo {
    width: 70%;
  }

/* 320 PX */
@media only screen and (min-width: 20em) {
  nav#slide-menu {
    right: -194px;
    max-width: 194px;
  }

  #slide-menu a {
    font-size: 0.8em;
  }

  body.menu-active div#content {
      right: 194px;
  }
}

/* 533 PX */
@media only screen and (min-width: 33em) {
  nav#slide-menu {
    right: -220px;
    max-width: 220px;
  }

  #slide-menu a {
    font-size: 0.8em;
  }

  body.menu-active div#content {
      right: 220px;
  }
  .j-header {
    text-align: left;
  }

  .j-header h1 {
    font-size: 1.25em!important;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 69%;
  }

  .j-oa {
    display: inline-block;
    width: 85%;
    padding-top: 0;
    max-width: 180px;
    margin: 0;
    vertical-align: middle;
  }

  .oalink {
    width: 30%;
    display: inline-block;
    text-align: right;
  }
  .j-header-article {
    text-align: left;
    background-color: #F48120;
  }

  .j-header-article .name h1 {
    font-size: 1.25em!important;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 69%;
  }

  .j-header-article .j-oa {
    display: inline-block;
    width: 85%;
    padding-top: 0;
    max-width: 180px;
    margin: 0;
    vertical-align: middle;
  }

  .j-header-article .oalink {
    width: 30%;
    display: inline-block;
    text-align: right;
  }

  .name .body {
    text-align: left;
  }

  .j-header-article .name .body {
    text-align: left;
  }

  .subscribe #email {
    padding: 1px 0.5em;
    font-size: 1em;
  }
}

/* 768 PX */
@media only screen and (min-width: 48em) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  nav#slide-menu {
    right: 0px;
    max-width: 300px;
    display: none;
  }
  body.menu-active nav#slide-menu {
    right: 0px;
    display: block;
}

  body.menu-active div#content {
    right: 300px;
  }

  input.gsc-input {
      border: 1px solid #F48120!important;
    }

    input.gsc-input {
      border-color: #F48120!important;
  }

  .cbp-af-header nav a {
    padding: 0 0.5em!important;
  }

  .cbp-af-header {
    height: 140px!important;
  }

  .flex-caption {
    margin: 0 0 0 50px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.65);
    color: #FFF;
    width: 280px;
    font-weight: 100;
    transition: all 0.8s ease;
    height: 100%;
  }

  .flex-caption h2 {
    background-color: #FFF;
    padding: 0.3em 0;
    text-transform: capitalize;
    border-bottom: none;
    display: block;
    font-size: 1.5em;
    margin: 20px 0 0;
    font-weight: 600;
    letter-spacing: 0;
    text-indent: 20px;
}

.flex-caption h2:before {
    content: "";
    background: none;
    width: 0;
    height: 0;
    margin: 0;
}

.flex-caption h3 {
    font-size: 1em;
    color: #F48120;
    padding: 0.5em 20px 0;
}

.flex-caption .body {
    font-size: 0.8em;
    padding: 0 21px 1em;
}

.flex-caption .body-link {
    font-size: 0.8em;
    color: #F48120;
    border-bottom: 1px solid;
}

.journals div {
    margin: 0 1.5px;
    padding-bottom: 1em;
}

.journals {
    padding: 2em;
}
.recent {
    padding: 2em;
}
.ethics-guidelines {
    padding: 2em;
}

.content {
    padding: 2em 0;
}

.form input, .form select {
    width: 50%;
}

footer {
    padding: 2em;
}

.jname {
    float: left;
    background-color: #47A4AD;
    color: #FFF;
    padding: 0.8em;
    width: 100px;
}

.jname .body {
    font-family: 'Lato', sans-serif;
}

.jcontent {
    padding-left: 7em;
    padding-top: 0;
}

h2 {
  font-size: 1.5em;
  }
  .j-header {
        background: url(../img/journals/j-vwhci.jpg) center;
    width: 65%;
    min-height: 370px;
    background-size: cover;
    float: right;
  }
  .name h1 {
    font-size: 1.5em!important;
    padding: 0;
    width: 100%;
    color: #fecca9;
    font-weight: 600;
    text-transform: inherit;
    padding: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
  }
  .name .body {
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
  .j-oa {
    display: inline-block;
    width: 80%;
    max-width: 180px;
  }
  .oalink {
    width: 47%;
    display: inline-block;
    text-align: right;
  }
  .name {
    width: 35%;
    padding: 2em;
    min-height: 370px;
    position: relative;
    background-color: #F48120;
}
.issn {
  position: absolute;
  bottom: 30px;
  width: 100%;
    padding: 0 4em 0 0;
}

.j-img {
    display: none;
}
.jhead {
    padding-bottom: 370px;
}
.topics {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    text-align: left;
}
.topics li {
    padding-bottom: 0;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 0 0px 20px;
    text-indent: -1em;
}
.j-home {
  padding: 2em;
}
.m-recent .border {
  border: 0;
}
.eic .body {
  vertical-align: middle;
  padding-bottom: 0;
  width: 49%;
  display: inline-block;
}

.eic .body-link {
  vertical-align: middle;
  width: 50%;
  display: inline-block;
  text-align: right;
}
.a-link {
  text-align: right;
}
}

/* 768PX - 881 PX */
@media only screen and (min-width: 25.8em) and (max-width: 55.1em) {
.j-link {
    font-size: 0.9em;
}
}

/* 881 PX */
@media only screen and (min-width: 55.1em) {
  .cbp-af-header nav a {
    padding: 0 1em!important;
  }

  .journals div {
    margin: 0 2px;
  }
  .subscribe #email {
    width: 60%;
  }
  .navbar a {
    font-size: 1em;
    padding: 0 1em;
  }
  .navbar-toggle {
    font-size: 1em;
    padding: 0 1em;
  }
  .j-link {
    font-size: 1em;
  }
}

/* 1000 PX */
@media only screen and (min-width: 62.5em) {

  .journals div {
    margin: 0 2.5px;
  }
  .subscribe #email {
    width: 66%;
}
}

/* 1024 PX */
@media only screen and (min-width: 64em) {
    .contactform input, .contactform select, .contactform textarea {
    width: 60%!important;
}
}

/* 1100 PX */
@media only screen and (min-width: 68.75em) {
  .cbp-af-header nav a {
    font-size: 1.1em!important;
  }

  .journals div {
    margin: 3px;
}

.subscribe #email {
    width: 69%;
}
.name h1 {
    font-size: 2em!important;
}
.name .body {
    font-size: 1.2em;
  }
  .oalink {
    width: 48%;
  }
}

/* 1200 PX */
@media only screen and (min-width: 75em) {
  .nav1 {
    display: inline-block;
    line-height: 0px;
    padding: 69px 0;
    vertical-align: top;
  }
div#___gcse_0 {
    width: 280px;
    display: inline-block;
}
  .search-menu {
    padding: 15px 10px 15px 0;
  }

  .nav2 {
    display: none;
  }

  div.menu-trigger-1 {
    padding: 0px;
  }

  .cbp-af-header nav a {
    font-size: 0.95em!important;
  }

  .cbp-af-header {
    height: 107px!important;
  }

  .journals div {
    margin: 3.4px;
  }
  .subscribe #email {
    width: 72%;
}
}

/* 1280 PX */
@media only screen and (min-width: 80em) {
.cbp-af-header nav a {
    font-size: 1em!important;
}
.journals div {
    margin: 3.8px;
}
.subscribe #email {
    width: 74%;
}
.name {
    padding: 3em;
}
.issn {
        padding: 0px 6em 0 0;
        bottom: 49px;
}
}

/* 1300 PX */
@media only screen and (min-width: 81em) {
  .j-header {
    min-height: 430px;
    background-size: cover;
  }
  .name {
    min-height: 430px;
  }
  .j-img {
    display: none;
  }
.name .body {
    font-size: 1.4em;
}
.jhead {
    padding-bottom: 430px;
}
}


/* 1380 PX */
@media only screen and (min-width: 86em){
.cbp-af-header nav a {
    font-size: 1.1em!important;
}

.journals div {
    margin: 4.2px;
}
}

/* 1600 PX */
@media only screen and (min-width: 100em){
  .journals div {
    margin: 4.5px;
}
}