.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  background-color: #FFF;
}
.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}
.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}
.unit-spacer {
  padding: 8px;
}
@media only screen and (max-width: 47.99em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-1 {
    display: block;
  }
  .unit-s-2-3 {
    width: 66.66667%;
  }
  .unit-s-1-4 {
    width: 25%;
  }
  .unit-s-3-4 {
    width: 75%;
  }
  .unit-s-8-5 {
    width: 84%;
  }
  .unit-s-1-5 {
    width: 16%;
  }
  .unit-s-2-8 {
    width: 28%;
  }
/*  .unit-s-1-1 {
    width: 11%;
  }*/
}

@media only screen and (min-width: 48em) {
  .unit-s-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-s-1-2 {
    width: 49%;
  }
  .unit-s-1-3 {
    width: 33.33333%;
  }
  .unit-s-2-3 {
    width: 66.66667%;
  }
  .unit-s-1-4 {
    width: 25%;
  }
  .unit-s-1-4-1 {
    width: 24%;
  }
  .unit-s-3-4 {
    width: 75%;
  }
  .unit-s-8-5 {
    width: 84%;
  }
  .unit-s-1-5 {
    width: 16%;
  }
  .unit-s-2-8 {
    width: 28%;
  }
/*  .unit-s-1-1 {
    width: 11%;
  }*/
}
@media only screen and (min-width: 64em) and (max-width: 60em) {
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-1 {
    display: block;
  }
  .unit-m-1-2 {
    width: 49%;
  }
  .unit-m-1-3 {
    width: 33.33333%;
  }
  .unit-m-2-3 {
    width: 66.66667%;
  }
  .unit-m-1-4 {
    width: 25%;
  }
  .unit-m-1-4-1 {
    width: 24%;
  }
  .unit-m-3-4 {
    width: 75%;
  }
  .unit-m-8-5 {
    width: 85%;
  }
  .unit-m-1-5 {
    width: 15%;
  }
  .unit-m-2-8 {
    width: 28%;
  }
/*  .unit-m-1-1 {
    width: 11%;
  }*/
}

@media only screen and (min-width: 48em) and (max-width: 64em) {
  .unit-m-4-0 {
    width: 37%;
  }
  .unit-m-3-5 {
    width: 35%;
  }
  .unit-m-1 {
    display: block;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) {
  .unit-l-1-6 {
    width: 26%;
  }
  .unit-m-4-0 {
    width: 46%;
  }
}
@media only screen and (min-width: 75em) {
  .unit-l-1-7 {
    width: 18%;
  }
  .unit-l-5-1 {
    width: 51%;
  }
  .unit-l-3-2 {
    width: 31%;
  }
}

@media only screen and (min-width: 100em) {
  .unit-l-1-7 {
    width: 15%;
  }
  .unit-l-5-1 {
    width: 54%;
  }
}

@media only screen and (min-width: 64em) {
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-1 {
    display: block;
  }
  .unit-l-1-2 {
    width: 49%;
  }
  .unit-l-1-3 {
    width: 33.33333%;
  }
  .unit-l-2-3 {
    width: 66.66667%;
  }
  .unit-l-1-4 {
    width: 25%;
  }
  .unit-l-1-4-1 {
    width: 24%;
  }
  .unit-l-3-4 {
    width: 75%;
  }
  .unit-l-8-5 {
    width: 88%;
  }
  .unit-l-1-5 {
    width: 12%;
  }
/*  .unit-l-1-1 {
    width: 11%;
  }*/
}